body {
  font-family: "roc-grotesk", Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  margin: 0;
  padding: 0;
  display: flex;
  background: #2E4EFF;
  padding-bottom: 12px;
  overflow-x: hidden;
}

.container {
  max-width: 700px;
  width: 100%;
  box-sizing: border-box;
  padding: 20px;
  margin: auto;
  color: #ffffff;
}

.header {
  text-align: center;
}

.header img {
  width: 350px;
  margin-top: 32px;
  margin-bottom: 48px;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

a {
  color: #2E4EFF;
  font-weight: 500;
  text-decoration-line: underline; 
  text-decoration-color: #2e4dff35; 
  text-decoration-thickness: 2px; 
}

a:hover {
  color: #ed2c8d; 
  text-decoration-color: #ed2c8c81;
}

.links a {
  display: flex;
  background: #ffffff;
  color: #000000;
  padding: 14px 22px;
  width: fit-content; /* Adjust width to fit content */
  min-height: 48px;
  text-decoration: none;
  border-radius: 64px;
  box-sizing: border-box; /* Include padding in width */
  margin-bottom: 16px;
  font-weight: 600;
  justify-content: center; /* Center align content */
  align-items: center; /* Center align content */
  margin-left: auto; /* Center align horizontally */
  margin-right: auto; /* Center align horizontally */
  margin-bottom: 24px;
  animation: pulse 2s infinite;
  scale: 1.15;
  cursor: pointer;
}

.sublink a {
  display: flex;
  background: #ffffff00;
  color: #ffffff;
  border: 3px solid #ffffff;
  letter-spacing: 0.5px;;
  padding: 14px 22px;
  width: fit-content; /* Adjust width to fit content */
  min-height: 48px;
  text-decoration: none;
  border-radius: 64px;
  box-sizing: border-box; /* Include padding in width */
  margin-bottom: 16px;
  font-weight: 600;
  justify-content: center; /* Center align content */
  align-items: center; /* Center align content */
  margin-left: auto; /* Center align horizontally */
  margin-right: auto; /* Center align horizontally */
  margin-bottom: 48px;
  scale: 1;
  cursor: pointer;
}

.button-text {
  margin-top: 1px;
}

.icon {
  width: 24px;
  height: 24px;
  margin-right: 8px;
  vertical-align: middle;
}

.campaign-info {
  color: rgb(0, 0, 0);
  background-color: #ffffff;
  padding: 32px;
  border-radius: 24px;
  padding-top: 10px;
  padding-bottom: 24px;
  margin-bottom: 24px;
}

.tiles {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px; /* Adjust as needed */
}

.tile-item {
  /* Styles for each grid item */
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgb(0, 0, 0);
  background-color: #ffffff;
  padding: 32px;
  border-radius: 24px;
  padding-top: 10px;
  padding-bottom: 24px;
  margin-bottom: 24px;
  box-shadow: 0px 12px 24px 0px rgba(0, 0, 0, 0.06), 0px 0px 2px 0px rgba(0, 0, 0, 0.15), 0px 3px 4px 0px rgba(0, 0, 0, 0.03);
}


.about {
  color: rgb(255, 255, 255);
  background-color: #00000077;
  padding: 32px;
  border-radius: 24px;
  padding-top: 28px;
  padding-bottom: 22px;
  margin-bottom: 48px;
}

.report {
  position: relative;
  color: rgb(255, 255, 255);
  background-color: #00000077;
  padding: 32px;
  border-radius: 24px;
  padding-top: 16px;
  padding-right: 140px;
  padding-bottom: 32px;
  margin-bottom: 24px;
}

.report-image {
  position: absolute;
  top: -20px;
  right: -50px;
  width: 200px;
  height: 200px;
}

a.nolink {
  color: inherit;
  text-decoration: none;
}

a.nolink h2, a.nolink p {
  color: inherit;
  text-decoration: none;
}

h1 {
  font-size: 34px;
  font-weight: 700;
  margin-bottom: 16px;
  line-height: 40px;
  letter-spacing: 0.2px;
}

h2 {
  font-size: 32px;
  font-weight: 600;
  letter-spacing: 0.2px;
  margin-top: 16px;
  margin-bottom: 8px;
  line-height: 1.15;
}

h3 {
  font-size: 20px !important;
  font-weight: 600;
  letter-spacing: 0.5px;
  margin-bottom: -2px;
  line-height: 1.25;
}

strong {
  font-weight: 600;
}

p {
  font-size: 18px;
  margin-bottom: 8px;
  line-height: 1.25;
  margin: 0px;

}

.faq-item:first-child {
  border-radius: 24px 24px 8px 8px;
}

.faq-item:last-child {
  border-radius: 8px 8px 24px 24px;
  margin-bottom: 24px;
}

.faq-item {
  box-sizing: border-box;
  align-items: center;
  width: 100%;
  text-align: left;
  background-color: #ffffff;
  border-radius: 8px;
  font-family: inherit;
  font-size: 18px;
  line-height: 1.25;
  margin-bottom: 4px;
  padding: 16px;
  padding-top: 12px;
  padding-bottom: 12px;
  box-shadow: 0px 12px 24px 0px rgba(0, 0, 0, 0.06), 0px 0px 2px 0px rgba(0, 0, 0, 0.15), 0px 3px 4px 0px rgba(0, 0, 0, 0.03);
}

.faq-question {
  display: flex;
  justify-content: space-between;
  color: #000000;
  align-items: center;
  width: 100%;
  text-align: left;
  padding: 16px;
  border-radius: 24px;
  font-family: inherit;
  font-size: 18px;
  line-height: 1.25;
  font-weight: 600;
  border: none;
  outline: none;
  background-color: #ffffff; /* match the background color of the campaign info div */
  cursor: pointer;
  transition: background-color 0.5s ease;
}

.faq-question .chevron-icon {
  height: px;
  width: 20px;
  flex-shrink: 0;
  margin-left: 12px;
  /* additional styles as needed */
}

.faq-question.active .chevron-icon {
  transform: rotate(180deg);
}

.faq-answer {
  opacity: 0;
  transform: scaleY(0);
  transform-origin: top;
  transition: transform 0.1s ease-out, opacity 0.1s ease-out;
  max-height: 0;
  color: #000000;
  overflow: hidden;
  transition: max-height 0.1s ease-out;
  border-radius: 24px;
  font-family: inherit;
  font-size: 18px;
  line-height: 1.25;
  padding: 0px;
}

.faq-question.active + .faq-answer {
  opacity: 1;
  transform: scaleY(1);
  max-height: 1000px; /* adjust this value as needed */
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 16px;
  padding-top: -24px;
}

/* Bullet controls for top-level unordered list */
ul {
  list-style-type: disc;
  padding-left: 16px;
  margin-bottom: 12px;
  margin-top: 12px;
  line-height: 1.25;
}

/* Bullet controls for nested unordered lists */
ul ul {
  list-style-type: circle;
  padding-left: 16px;
  list-style-type: square; 
}

/* Margin for list items */
ul li {
  margin-bottom: 12px; /* Adjust this value as needed */
}

.footer {
  display: flex;
  justify-content: center;
}

.logo-blocker {
  background-color: #2E4EFF;
  height: 70px;
  width: 100%;
  position: fixed;
  bottom: 0;
  z-index: 9999;
}

@media (max-width: 600px) {
  .body {
    overflow-x: hidden;
  }
 
  .header img {
    width: 75%;
  }

.report {
  padding-right: 32px;
}

.report h2 {
  font-size: 24px;
  width: 74%;
}

.report-image {
  position: absolute;
  width: 150px;
  height: 150px;
  top: -19px;
  right: 0px;
}

}